@charset "utf-8";
/* CSS Document */

#header {
  height: auto;
  /* background-color:#FFFF99; */
  /* border:solid; */
}

#name {
  width: 30%;
  margin: auto;
  /* border:solid; */
  padding-top: 2%;
  /* padding-bottom:0.1%; */
  /* background-color: #EAADD1; */
}

#name img {
  width: 100%;
}

.content {
  /* border:solid; */
  width: 100%;
  height: 400px;
  margin-left: 20%;
  margin-top: 5%;
  /* display: flex;
	flex-wrap: wrap; */
  /* justify-content: space-around; */
  /* background-color: #FFD180; */
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
  /* padding: 0 4px; */
  /* padding-left:25%; */
  width: 100%;
}

.row img {
  width: 50%;
}

.column {
  /* flex:10%; */
  max-width: 30%;
  margin: 1px;
  /* padding: 0 4px; */
}

.column img {
  /*width:100%;
	height:auto;*/

  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.img1:hover {
  content: url("Images/AppsFlip.png");
}
.img2:hover {
  content: url("Images/2DGamesFlip.png");
}
.img3:hover {
  content: url("Images/3DGamesFlip.png");
}
.img4:hover {
  content: url("Images/3dModelsFlip.png");
}
.img5:hover {
  content: url("Images/WebsitesNewFlip.png");
}
.img6:hover {
  content: url("Images/GraphicDesigningNewFlip.png");
}
.img7:hover {
  content: url("Images/IllustrationsNewFlip.png");
}

.logoColumn {
  flex: 25%;
  max-width: 70%;
  padding: 0 4px;
}

#Content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.contentImgs {
  flex: 20%;
  width: 100%;
  padding: 1%;
}

.contentImgs img {
  width: 75%;
  border: 2px solid chocolate;

  padding: 10px;
  margin-top: 4%;
}

.brochureDesc {
  width: 40%;
  margin: 50px;
  margin-top: 0px;
}

@media screen and (max-width: 992px) {
  #Content {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    background-color: chocolate;
  }

  .contentImgs {
    flex: 32%;
    max-width: 75%;

    margin: auto;
  }

  .contentImgs img {
    margin: auto;
    width: 95.5%;
    border: 2px solid chocolate;
    background-color: #ffff99;
  }
}

@media screen and (max-width: 600px) {
  #Content {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    background-color: chocolate;
  }

  .contentImgs {
    flex: 50%;
    width: 100%;
    background-color: crimson;
    margin: auto;
  }

  .contentImgs img {
    margin: auto;
    width: 95.5%;
    border: 2px solid chocolate;
    background-color: #ffff99;
    padding: 10px;
  }
}
