@charset "utf-8";
/* CSS Document */

#header {
  height: auto;
  /* background-color:#FFFF99; */
  /* border:solid; */
}

#name {
  width: 30%;
  margin: auto;
  /* border:solid; */
  /* padding-top:1%;  */
  /* padding-bottom:0.1%; */
  /* background-color: #EAADD1; */
}

#name img {
  width: 100%;
}

#Content {
  display: flex;
  width: 65%;
  margin-left: 18%;
  justify-content: space-evenly;
}

.row {
  margin: 2%;
}
.column img {
  vertical-align: middle;
  width: 100%;
  margin: 2%;
}

.img1:hover {
  content: url("Images/BrochureFlip.png");
}
.img2:hover {
  content: url("Images/FlyerFlip.png");
}
.img3:hover {
  content: url("Images/InvitesFlip.png");
}
.img4:hover {
  content: url("Images/menuFlip.png");
}

@media screen and (max-width: 992px) {
  #Content {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    background-color: chocolate;
  }

  .contentImgs {
    flex: 32%;
    max-width: 75%;

    margin: auto;
  }

  .contentImgs img {
    margin: auto;
    width: 95.5%;
    border: 2px solid chocolate;
    background-color: #ffff99;
  }
}

@media screen and (max-width: 600px) {
  #Content {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    background-color: chocolate;
  }

  .contentImgs {
    flex: 50%;
    width: 100%;
    background-color: crimson;
    margin: auto;
  }

  .contentImgs img {
    margin: auto;
    width: 95.5%;
    border: 2px solid chocolate;
    background-color: #ffff99;
    padding: 10px;
  }
}
